{% extends "base.html" %}
{% load widget_tweaks tz %}

{% block title %}{{object.text}}{% endblock %}

{% block content %}
<div class="show-image">

	<div class="panel panel-default row">
		<div class="panel-body">
			<h1 class="image-text">{{object.text}}</h1>
			<img src="{{object.image.url}}" alt="Image not avaible" class="img-rounded img-responsive center-block">
		</div>
	</div>

	<div class="panel panel-default row">
		<div class="panel-body">
			<form action="{% url 'image-comments' pk=object.pk %}" method="post">
				{% csrf_token %}
				
				<div class="nick col-xs-12">
					{{ form.user|attr:"placeholder:Comment with nickname"|attr:"class:form-control"|attr:"required"}}
				</div>

				<div class="comment col-xs-12">
					{{ form.text|attr:"placeholder:Write your comment here"|attr:"class:comment-textarea form-control"|attr:"required"}}
				</div>

				<input class="btn btn-success btn-lg btn-block" type="submit" value="Submit" />
			</form>
		</div>
	</div>

	{% if comments %}

		{% for comment in comments %}
		<div class="comment-panel panel panel-default row">
			<div class="panel-body">
				<p>Comment by: {{comment.user}}</p>
				<p>{{comment.text}}</p>
				<p>posted at {{comment.timestamp|localtime }}</p>
			</div>
		</div>
		{% endfor %}

	{% else %}
	<h2 class="no-comments-text">There is no comments yet, make one!</h2>
	{% endif %}

</div>
	
{% endblock %}

